
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,.87);
}

ul {
  list-style-type: none;
}

ul li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  height: 101px;
  box-shadow: 0 1px 3px rgba(0 0 0 / 10%);
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.logo {
  height: 51px;
  width: 51px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.left-nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.left-nav nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.left-nav nav ul li {
  text-transform: uppercase;
  padding-left: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.left-nav nav ul li a {
  color: rgba(0,0,0,.87);
  transition: 0.5s;
}

.left-nav nav ul li:hover a {
  color: #008248;
}
