/*
colors:

green: #008248;

white: #f5e8d7;

orange: #f3693a;

mid-black-letters: #282c35;
mid-black: #2b2f38;
black: #20232a;
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,.87);
}

ul {
  list-style-type: none;
}

ul li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,.87);
  border-radius: 20px;
  color: rgba(0,0,0,.87);
  margin-left: 18px;
  transition: 0.5s;
}

.btn-black {
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,.87);
  border-radius: 20px;
  background-color: rgba(0,0,0,.87);
  color: #fff;
  margin-left: 18px;
  transition: 0.5s;
}

.btn:hover,
.btn-black:hover {
  background-color: #008248;
  border: 1px solid #008248;
  color: #fff;
}

/* header */
header {
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-container {
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 51px;
  width: 51px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.left-nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.left-nav nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.left-nav nav ul li {
  text-transform: uppercase;
  padding-left: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.left-nav nav ul li a {
  color: #f5e8d7;
  transition: 0.5s;
}

.left-nav nav ul li:hover a {
  color: #f3693a;
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav {
  display: flex;
  align-items: center;
}

.toggle {
  width: 40px;
  height: 40px;
  background: url("../img/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 24px;
  display: none;
}

.toggle.active {
  background: url("../img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
}
/* header END */

/* heros section */
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left {
  width: 50%;
  height: 100%;
  background-color: #20232a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-title h1,
.main-title h2 {
  color: #f5e8d7;
}

.sub-title-box-left {
  width: 30%;
  height: 200px;
  background-color: #2b2f38;
  position: absolute;
  left: 0px;
  bottom: 10%;
}

.hero-right {
  width: 50%;
  height: 100%;
  background-color: #2b2f38;
  position: relative;
}

.sub-title-box-right {
  width: 30%;
  height: 200px;
  background-color: #20232a;
  position: absolute;
  right: 0px;
  bottom: 10%;
}
/* hero section END */

/* sections */
section {

}

.section-canvas {
  width: 100%;
  display: flex;
  position: relative;

  height: 100vh;
}

.section-title {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 900;
  text-align: center;
  color: #f5e8d7;
}

.section-title h2 {
  font-size: 3em;
  margin-bottom: 12px;
}

.section-title h4 {
  font-size: 1.5em;
}

.section-canvas-left {
  width: 50%;
  height: 100%;
  background-color: #20232a;
}

.section-canvas-right {
  width: 50%;
  height: 100%;
  background-color: #2b2f38;
}
/* sections END */

/* footer */
footer {
  width: 100%;
  background-color: #282c35;
  border-top: 1px solid #f5e8d7;
}

.footer-row {
  display: flex;
}

.footer-box,
.footer-box ul li a {
  color: #f5e8d7;
}

.footer-box h5 {
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-box ul li {
  font-size: 16px;
  margin-bottom: 6px;
}

.footer-box ul li a {
  transition: 0.5s;
}

.footer-box ul li:hover a {
  color: #f3693a;
}

ul.social-links,
ul.sub-menu {
  display: flex;
}

ul.social-links li {
  margin: 16px;
}

ul.social-links li a {
  font-size: 24px;
  color: #f5e8d7;
  transition: 0.5s;
}

ul.social-links li:hover a {
  color: #f3693a;
}

ul.sub-menu li {
  margin: 10px 16px;
  transition: 0.5s;
}

ul.sub-menu li a {
  color: #f5e8d7;
  transition: 0.5s;
}

ul.sub-menu li:hover a {
  color: #f3693a;
}
/* footer END */

/* media queries */
@media (max-width: 991.98px) {
  .toggle {
    display: block;
  }
}
